:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a28268;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
}
ul {
  list-style-type: none;
}
.button {
  color: aliceblue;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
}
/*header-section*/
.button:hover {
  color: var(--color-brand-normal);
}
.header-link {
  color: var(--color-brand-light);
}
.header-link:hover {
  color: var(--color-brand-normal);
}
.text-brand {
  color: var(--color-brand-normal);
}
/*advantegas-section*/
.advantages-list {
  background-color: var(--color-brand-normal);
}
.section__title {
  color: var(--color-primary-dark);
}
