@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/poppins-v20-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v20-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins-v20-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/poppins-v20-latin-regular.woff2") format("woff2");
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand: #819b57;
}
body {
  color: var(--color-primary-dark);
  font-family: "poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 16px;
}
.section {
  padding: 48px 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}
ul {
  list-style-type: none;
}
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  color: #465929;
  background-color: transparent;
}
.link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.link:hover {
  color: var(--color-brand);
  font-weight: 600;
}
.main-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  font-family: "poppins", sans-serif;
  font-size: 128px;
  text-align: center;
  font-weight: 900;
}
.main-title .acent {
  color: var(--color-brand);
}
.adventeges-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
}
.adventeges-ltem {
  font-size: 20px;
  font-weight: 300;
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
  padding-top: 96px;
}
.tradition-section {
  padding-top: 96px;
}
.section-title .acent {
  color: var(--color-brand);
}

.tradition-tittle {
  margin-bottom: 42px;
}
.traditions-text .upercase {
  color: var(--color-brand);
  text-transform: uppercase;
  font-weight: 600;
}
.traditions-text .brand {
  color: var(--color-brand);
}

.chefs-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.chef {
  margin-bottom: 80px;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}
.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.adress-link:hover {
  color: var(--color-brand);
}
.adress-copyright {
  font-size: 14px;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
.main.sectoin .main-title {
  padding: 272px, 0;
}
.contact-section {
  margin-bottom: 16px;
}
